{% load static %}
    <thead>
    <tr>
        <th scope="row">ID</th>
        <th scope="col">Название продукта</th>
        <th scope="col">Дата поступления</th>
        <th scope="col">Цена</th>
        <th scope="col">Единица измерения</th>
        <th scope="col">Наименование поставщика</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.product_name}}</td>
        <td>{{product.date_of_receipt}}</td>
        <td>{{product.price}}</td>
        <td>{{product.units_of_measurement}}</td>
        <td>{{product.provider}}</td>
    </tr>
    {% endfor %}
    </tbody>